h1,
h2,
p,
h3,
h4,
li {
  font-family: sans-serif;
  color: #444444;
}
h1,
h2,
h3 {
  color: cyan;
}
.main-header {
  background-color: #f7f7f7;
}

h1 {
  font-size: 26px;
  text-transform: uppercase;
  font-style: italic;
}
h2 {
  font-size: 40px;
}
p {
  font-size: 22px;
  line-height: 1.5;
}
h3 {
  font-size: 30px;
}
h4 {
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
}
li {
  font-size: 20px;
}
footer aside,
p {
  font-size: 20px;
}
.related {
  list-style: none;
}
aside {
  background-color: #f7f7f7;
  border-top: 5px solid cyan;
  border-bottom: 5px solid cyan;
}
li:first-child {
  font-weight: bold;
}
li:last-child {
  font-weight: bold;
  color: rgb(212, 0, 35);
}
li:nth-child(even) {
  font-weight: bold;
  color: darkgreen;
}
article p:last-child{
  color: red;
}
a{
  color: rgb(214, 45, 45);
  text-decoration: none;
}
a:visited{
  color: darkblue;
}
a:hover{
  color: rgb(146, 216, 15);
  text-decoration: 2px underline solid green;
  
}
a:active{
  color: blanchedalmond;
}



