body{
  
  border-top: 10px solid rgb(8, 145, 145);
  
}
h1,
h2,
p,
h3,
h4,
li {
  font-family: sans-serif;
  color: #444444;
  margin: 0 10%;

}
h1,
h2,
h3 {
  color: rgb(25, 194, 194);
  

}
.main-header {
  background-color: #f7f7f7;
}

h1 {
  font-size: 26px;
  text-transform: uppercase;
  font-style: italic;
  
}
header{
  margin-left: 20px;
}
h2 {
  font-size: 40px;
  position: relative;

}
p {
  font-size: 22px;
  line-height: 1.5;
}
h3 {
  font-size: 30px;
}
h4 {
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
}
li {
  font-size: 20px;
}
footer aside,
p {
  font-size: 20px;
}
.related {
  list-style: none;
}
aside {
  background-color: #f7f7f7;
  border-top: 5px solid cyan;
  border-bottom: 5px solid cyan;
}
li:first-child {
  font-weight: bold;
}
li:last-child {
  font-weight: bold;
  color: rgb(212, 0, 35);
}
li:nth-child(even) {
  font-weight: bold;
  color: darkgreen;
}
article p:last-child{
  color: red;
}
a{
  color: rgb(214, 45, 45);
  text-decoration: none;
  padding: 20px;

}
a:visited{
  color: rgb(0, 0, 0);
}
a:hover{
  color: rgb(146, 216, 15);
  text-decoration: 2px  solid rgb(80, 30, 55);
  
}
a:active{
  color: blanchedalmond;
}
h1::first-letter{
  font-style: normal;
}

h3+p::first-line{  
  color: red;
}
h2::after{
  content: "Top";
  color: #444444;
  background-color: yellow;
  font-size:15px;
  font-weight: bold;
  text-transform: uppercase;
  display: inline-block;
  padding: 3px 7px;
  position: absolute;
  top: -10px;
  right: -25px;



}
img{
  margin: 0 10%;

}
nav{
  margin: 0 10%;

}